@media screen and (max-width: 1024px) {
    .privacy-policy {
        padding-left: 16px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 820px) {
    .privacy-header h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 440px) {
    .privacy-header h1 {
        font-size: 22px;
    }
}