<section>

    <div class="headline">
        <div>
            <h3>Frontend Developer</h3>
            <h1>Dominik Rapp</h1>
        </div>

        <div class="headline-buttons">
            <button>Check my work</button>
            <button>Contact me</button>
        </div>
    </div>


    <div>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>

        <div>
            <a href="#">mail</a>
            <a href="#">github</a>
            <a href="#">linkedin</a>
            <img src="" alt="">
        </div>
    </div>
    <div>
        <!-- animated banner -->
    </div>

</section>