@media screen and (max-width: 1200px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex !important;
    }

    .sm-links {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1024px) {
    section {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 600px) {
    section {
        h1 {
            font-size: 62px !important;
        }

        h3 {
            font-size: 32px !important;
        }

        .btn{
            font-size: 16px !important;
        }
    }
}


@media screen and (max-width: 470px) {
    section {

        .headline {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 180px;

            h1 {
                font-size: 40px !important;
            }

            h3 {
                font-size: 22px !important;
            }

            .headline-buttons {
                gap: 16px !important;
            }

            .btn {
                width: 127px !important;
            }
        }
    }

    .divider-line-right {
        height: 135px;
    }

    .divider-line-left {
        height: 185px;
    }

    .marquee-text {
        font-size: 26px !important;
    }
}