section {
  background: linear-gradient(35deg,
      var(--color-bg-start) 0%,
      var(--color-bg-start) 40%,
      var(--color-bg-end) 90%,
      var(--color-bg-end) 100%);
  height: 100vh;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 128px;
      text-align: center;
      font-family: Karla Var;
      margin: 0;
    }

    h3 {
      font-size: 40px;
      text-align: center;
      font-family: Fira Code Var;
      margin: 0;
    }

    button {
      height: 50px;
      width: 150px;
      border-radius: 50px;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      box-sizing: border-box;
      background-color: transparent;
      color: var(--color-text-white);
      font-size: 18px;
      font-family: Karla Var;
      border: 1px solid var(--color-text-white);
      transition: color 175ms ease, border-color 175ms ease, background-color 175ms ease;

      &:hover {
        --color-text-white: var(--color-accent);
      }

      &:focus-visible {
        outline: 2px solid var(--color-accent);
        outline-offset: 2px;
      }
    }

    .headline-buttons {
      display: flex;
      gap: 50px;
    }

  }
}