@media screen and (max-width: 1399px) {
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 0;
        margin: 0;
        padding: 80px;

        .photo-card {
            align-self: center;
        }

        .who-i-am {
            h4 {
                margin-top: 70px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-section {
        padding: 40px 16px;
    }

    .photo-card {

        &::before {
            left: -15px;
            width: calc(100% + 15px);
            height: calc(100% + 15px);
            --line-gap: 19px;
            --line-thick: 2px;
            background-image: repeating-linear-gradient(45deg,
                    transparent 0px,
                    transparent var(--line-gap),
                    var(--color-accent) var(--line-gap),
                    var(--color-accent) calc(var(--line-gap) + var(--line-thick)));

            clip-path: polygon(0 30px, 15px 30px, 15px calc(100% - 15px),
                    calc(100% - 30px) calc(100% - 15px),
                    calc(100% - 30px) 100%, 0 100%);
            opacity: 1;
        }
    }
}

@media screen and (max-width: 620px) {
    .about-card {
        width: auto;
        height: auto;

        h2 {
            font-size: 38px;
        }
    }

    .who-i-am {
        width: auto;
    }

    .icon-item {
        gap: 2px;
        .item-text {
            font-size: 16px;
        }
    }
}