<section id="hero" aria-labelledby="hero-title">
    <app-hero></app-hero>
</section>

<section id="about" aria-labelledby="about-title">
    <app-about></app-about>
</section>

<section id="skills" aria-labelledby="skills-title">
    <app-skills></app-skills>
</section>

<section id="projects" aria-labelledby="projects-title">
    <app-projects></app-projects>
</section>

<section id="feedback" aria-labelledby="feedback-title">
    <app-feedback></app-feedback>
</section>

<section id="contact" aria-labelledby="contact-title">
    <app-contact></app-contact>
</section>