:root {
  --page-max: 1920px;
}

:root {
  --color-bg: #1c1c1c;
  --color-text-error: #c56a6a;
  --color-text-white: #FFFFFF;
  --color-text-white-transparent: rgba(255, 255, 255, 0.8);
  --color-text-lightgrey: #d4d4d4;
  --color-icon: #FFFFFF;
  --color-bg-banner: #434343;
  --color-accent: #3dcfb6;
  --color-accent-transparent: rgba(61, 207, 182, 0.1);
  --color-set-dot: #6ad7bf;
  --color-bg-end: #08463b;
  --color-bg-start: #1c1c1c;
  --color-box-hover: #2f5b54;
  --color-text-icon-hover: #3dcfb6;
  --color-fadeout: #1c1c1c;
}

@font-face {
  font-family: "Fira Code Var";
  src: url("./assets/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla Var";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display Var";
  src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text-white);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  width: 100%;
  max-width: var(--page-max);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

header,
main,
section,
footer {
  display: block;
  width: 100%;
  max-width: var(--page-max);
  margin-left: auto;
  margin-right: auto;
}

body>* {
  display: block;
  width: 100%;
  max-width: var(--page-max);
}

.cursor-shadow {
  position: fixed;
  left: -75px;
  top: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0px 0px 50px var(--color-accent), 0 0px 50px var(--color-accent);
  filter: blur(50px);
  z-index: 9999;
}

@media (pointer: coarse) {
  .cursor-shadow {
    display: none;
  }
}

.project-dialog-panel .mat-mdc-dialog-surface {
  --mat-dialog-container-shape: 16px;
  --mat-dialog-container-color: transparent;
  border-radius: 30px;
  background-color: transparent;
  overflow: hidden;
}

.project-dialog-panel .overlay-card {
  border-radius: 16px;
  background: linear-gradient(35deg,
      var(--color-bg-start) 0%,
      var(--color-bg-start) 40%,
      var(--color-bg-end) 90%,
      var(--color-bg-end) 100%);
}

/* nur Debug */
// * {
//   outline: 1px solid red;
// }